@charset "UTF-8";

body{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1{
    color: darkblue;
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}

button{
    border-radius: 50px;
    width: 120px;
    height: 30px;
    background-color: aqua;
}