@charset "UTF-8";

@font-face {
    font-family: Coolvetica;
    src: url('font/Coolvetica\ Hv\ Comp.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Aonic;
    src: url('font/Aonic-Medium.ttf') format('opentype');
    font-weight: normal;
}

body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    font-family: 'Coolvetica', Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;

}

p {
    font-family: 'Aonic', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
}

img {
    display: block;
    justify-content: center;
}