@charset "UTF-8";

@font-face {
    font-family: boost;
    src: url('font/BoostPlayer_PERSONAL_USE_ONLY.otf') format(opentype);
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: harper;
    src: url('font/Harper-Bold\ Personal\ Use.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(0, 195, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

h1 {
    color: black;
    font-size: 1em;
}

p {
    color: black;
}

#titulo {
    font-family: 'boost', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 4, 255);
    font-size: 2em;
}

.txt {
    font-family: 'harper', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(9, 32, 107);
}