@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    background-color: rgba(59, 131, 59, 0.795);
}

h1 {
    font-size: 2em;
    color: rgb(30, 255, 0);
}

h2 {
    color: rgb(102, 255, 0);
}

#titulo-principal {
    background-color: rgba(40, 221, 161, 0.836);
    color: rgb(193, 219, 46);
    text-align: center;
}

.topico {
    background-color: rgba(40, 221, 161, 0.836);
    color: rgb(193, 219, 46);
    text-align: right;
}

.txt {
    text-align: justify;
    text-indent: 3rem;
    color: white;
}