@charset "UTF-8";

body {
    background-color: rgb(53, 174, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

p {
   text-align: center;
}

main {
      width: 460px;
      padding: 10px;
      margin: auto;
}